<footer class="footer">
  <div class="container-fluid">
    <nav class="float-left">
      <ul>
        <li>
          <a href="https://www.plus91.in">
            Dynamic Form Plus91
          </a>
        </li>
        <li>
          <a href="https://www.plus91.in/about-us">
            About Us
          </a>
        </li>        
      </ul>
    </nav>
    <div class="copyright float-right">
      &copy;
      <script>
        document.write(new Date().getFullYear())
      </script>, by
      Plus91 Technologies Pvt Ltd
    </div>
  </div>
</footer>