<!DOCTYPE html>
<html>
<head><title>Dynamic Report Generation Form</title></head>
<% include ./appHeaderBase.ejs %>
<body>
  <div class="wrapper ">
  <% include ./appSideBar.ejs %>
    <div class="main-panel">
    <% include ./appTopHeader.ejs %>
        <div class="content">
          <div id="" class="container-fluid">
            <div class="container"  >
               <% include ./form_card.ejs %>
            </div>
        </div>
    </div>
  </div>
  <% include appFooterPage.ejs %>
</div>
<% include ./appPageSetting.ejs %>
<% include ./appFooterBase.ejs %>
</body>
</html>
<script type="text/javascript" src="form.js">

</script>