<div class="col-md-12">
  <div class="card ">
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons">contacts</i>
      </div>
      <h4 class="card-title"> Dynamic Form Creation</h4>
    </div>
    <div class="card-body">
      <form class="form-horizontal" method="post" action="/dynamic_report_generation_form">
        <div class="row" >
          <label class="col-md-3 col-form-label">Reprt Name</label>
          <div class="col-md-9">
            <div class="form-group has-default bmd-form-group is-filled">
              <input type="text" class="form-control" name="report_name">
            </div>
          </div>
        </div>
        <%let sSelectedKey=null%>
        <div class="row" name="type">
          <label class="col-md-3 col-form-label">Type</label>
          <div class="col-md-9">
            <div class="form-check-input col-md-6 ">
              <select id="type" name="type" onchange="test(this)" class="selectpicker
data-style="btn btn-primary btn-round" data-style="btn btn-primary btn-round">
                <option value="">--Select one--</option>
                <option value="abc">ABC</option>
                <option value="patient">Patient</option>
                <option value="xyz">XYZ</option></select>
            </div>
          </div>
        </div>
      
        <div class="row" name="report_keys">
          <label class="col-md-3 col-form-label label-checkbox">Input Keys</label>
          <div class="col-md-9">
            <div class="col-sm-10 col-md-5 checkbox-radios" id="keys">
         
            </div>
          </div>
        </div>

        <div class="row" >
          <label class="col-md-3 col-form-label">Report Record Limit</label>
          <div class="col-md-9">
            <div class="form-group has-default bmd-form-group is-filled">
              <input type="text" class="form-control" name="report_record_limit">
            </div>
          </div>
        </div>

        <input type="hidden" name="all_keys" id="all_keys" value=""/>

        <div class="card-footer ">
          <div class="row">
            <div class="col-md-9">
              <button type="submit" class="btn btn-fill btn-rose">Save</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>