<!DOCTYPE html>
<html>
<head> <title>Index</title> </head>
<% include ./appHeaderBase.ejs %>
<body>

  <div class="wrapper ">  
    <% include ./appSideBar.ejs %>
    <div class="main-panel">  
      <% include ./appTopHeader.ejs %>
      <div class="content">
        <div id="" class="container-fluid">
          <div class="container"  >
            <div class="row">
              <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="col-lg-4 col-md-4 col-sm-4 pull-left">
                  <button class="btn btn-primary" onclick="location.href='/report'">View All Reports</button>
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-4 pull-left">
                  <button class="btn btn-primary" onclick="location.href='/dynamic_report_generation_form'">Create New Report</button>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 pull-left">
                  <button class="btn btn-primary" onclick="location.href='/report_listing'">Update Existing Report</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>   
  <% include appFooterPage.ejs %>
  <% include ./appPageSetting.ejs %>
  <% include ./appFooterBase.ejs %>
</body>
</html>

     