<!DOCTYPE html>
<html>
<head><title>Report</title></head>
<% include ./appHeaderBase.ejs %>
<body>
  <div class="wrapper ">
    <% include ./appSideBar.ejs %>
    <div class="main-panel">
      <% include ./appTopHeader.ejs %>
        <div class="content">
          <div id= class="container-fluid">
            <div id= "container"  >
              <div class="col-md-12">
                <div class="card ">
                  <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">contacts</i>
                    </div>
                    <h4 class="card-title">Reports</h4>
                  </div>
                  <div class="card-body">
                     <div class="table-responsive">
                      <table style="width:100%" class="table">
                        <thead class=" text-primary">
                          <th>Report Name</th>
                          <th>Report type</th> 
                          <th>Action</th>
                        </thead>
                        <% for(let doc of data){ %>
                          <tbody>
                            <td><%= doc.report_name %></td>
                            <td><%= doc.type %></td>
                            <td>
                              <input type="button" class="show" value="Update Report" class="btn btn-fill btn-rose" onclick="location.href='/update_report?report_id=<%= doc.report_id %>'">
                            </td> 
                          </tbody>
                        <% } %>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           </div>
          </div>
        </div>
        <% include appFooterPage.ejs %>
      </div>
    </div>
    <% include ./appPageSetting.ejs %>
    <% include ./appFooterBase.ejs %>
  </body>
</html>



