<!DOCTYPE html>
  <html>
    <head><title>Report Data</title></head>
    <% include ./appHeaderBase.ejs %>
    <body>
      <input type="hidden" name="keys" id="keys" value="<%=Object.keys(data.report_data[0])%>"/>
      <input type="hidden" name="docs" id="docs" value="<%=JSON.stringify(data.report_data)%>"/>
      
      <div class="wrapper ">
        <% include ./appSideBar.ejs %>
        <div class="main-panel">
          <% include ./appTopHeader.ejs %>
            <div class="content">
              <div id= class="container-fluid">
                <div id= "container"  >
                  <div class="col-md-12">
                    <div class="card ">
                      <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                          <i class="material-icons">contacts</i>
                        </div>
                        <h4 class="card-title">Reports</h4>
                      </div>
                      <div class="card-body">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                          <input class="btn btn-primary" type="button" onclick="exportTableToCSV('<%=data.report_name%>')" value="Download CSV">
                        </div>
                        <div class="material-datatables">
                          <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                            <thead class="text-primary">
                              <tr>
                                <%for(let key of Object.keys(data.report_data[0])){%>
                                  <th>
                                    <%= key.split("_").join(" ").replace(/^\w/, c =>c.toUpperCase()) %> 
                                  </th>
                                <%}%>
                              </tr>
                            </thead>

                            <tbody>
                              <% for(let doc of data.report_data){ %>
                                <tr>
                                <%for(let key of Object.keys(doc)){%>
                                  <td>
                                  <%if(doc[key]=='""'||doc[key]==null){%>
                                  N/A
                                  <%}else{%>
                                    <%= JSON.parse(doc[key])%>
                                    <%}%>
                                  </td>
                                <%}%>
                                </tr>
                              <% } %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <% include appFooterPage.ejs %>
      </div>
      <% include ./appPageSetting.ejs %>
      <% include ./appFooterBase.ejs %>



    </body>
</html>
<script>
  $(document).ready(function() {
    $('#datatables').DataTable({
      responsive: true,
      language: {
        search: "_INPUT_",
        searchPlaceholder: "Search records",
      }
    });

    var table = $('#datatable').DataTable();

    // Edit record
    table.on('click', '.edit', function() {
      $tr = $(this).closest('tr');
      var data = table.row($tr).data();
      alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
    });

    // Delete a record
    table.on('click', '.remove', function(e) {
      $tr = $(this).closest('tr');
      table.row($tr).remove().draw();
      e.preventDefault();
    });

    //Like record
    table.on('click', '.like', function() {
      alert('You clicked on Like button');
    });
  });
  function downloadCSV(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV file
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename+'.csv';

    // Create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Hide download link
    downloadLink.style.display = "none";

    // Add the link to DOM
    document.body.appendChild(downloadLink);

    // Click download link
    downloadLink.click();

  }

  function exportTableToCSV(filename) {
    var csv = [];
    let keys=document.getElementById('keys').value.split(',');
    let all_keys=[];
    for(let key of keys){
      all_keys.push(key.split("_").join(" ").replace(/^\w/, c => c.toUpperCase()));
    }
    csv.push(all_keys);
    let docs=JSON.parse(document.getElementById('docs').value);

    for(let doc of docs){ 
      let row=[];
      for(let key of Object.keys(doc)){

        if(doc[key]=='""'||doc[key]==null){
          }
        else{
            row.push(doc[key]);
        }
      }
      // console.log(row);
      csv.push(row);
    }
    downloadCSV(csv.join('\n'),filename);
  }
</script>
