<!DOCTYPE html>
<html>
<head><title>Update Report</title></head>
<% include ./appHeaderBase.ejs %>
<body>
<%=data%>
  <div class="wrapper ">
    <% include ./appSideBar.ejs %>
    <div class="main-panel">
      <% include ./appTopHeader.ejs %>
      <div class="content">
        <div id="" class="container-fluid">
          <div class="container"  >
             <% include ./update_report_card.ejs %>
          </div>
        </div>
    </div>
  </div>
  <% include appFooterPage.ejs %>
</div>
<% include ./appPageSetting.ejs %>
<% include ./appFooterBase.ejs %>
</body>
</html>
 <script type="text/javascript" src="../update_report.js">

</script>