<div class="col-md-12">
  <div class="card ">
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons">contacts</i>
      </div>
      <h4 class="card-title"> Dynamic Form Updation</h4>
    </div>
    <div class="card-body">
      <form class="form-horizontal" method="post" id="oUpdateForm" action="/update_report">
        <div class="row" >
          <label class="col-md-3 col-form-label">Reprt Name</label>
          <div class="col-md-9">
            <div class="form-group has-default bmd-form-group is-filled">
              <input type="text" class="form-control" name="report_name" value="<%=data.report_name%>"> 
            </div>
          </div>
        </div>

        <%let sSelectedKey=null%>
        <div class="row" name="type">
          <label class="col-md-3 col-form-label">Type</label>
          <div class="col-md-9">
            <div class="form-check-input col-md-6 ">
              <select id="type" name="type" onload="test(<%=data.type%>)" onchange="test(this.value)" class="selectpicker
data-style="btn btn-primary btn-round" data-style="btn btn-primary btn-round">
                <option value="">--Select one--</option>
                <option value="abc">ABC</option>
                <%if(data.type=="patient"){%>
                  <option value="patient" selected="selected">Patient</option>
                <%}else{%>
                  <option value="patient">Patient</option>
                <%}%>
                <option value="xyz">XYZ</option></select>
            </div>
          </div>
        </div>
      
        <div class="row" >
          <label class="col-md-3 col-form-label label-checkbox">Input Keys</label>
          <div class="col-md-9">
            <div class="col-sm-10 col-md-5 checkbox-radios" id="keys">
              <%if(data.type=="patient"){%>
                <%for(let i=0;i<data.all_keys.length;i++){%>
                  <%if(data.keys.includes(data.all_keys[i])){%>
                    <div class= "form-check form-check-inline">
                      <label class="form-check-label"><input type="checkbox" name="keys" value="<%=data.all_keys[i]%>" class="form-check-input" checked="true"><%=data.all_keys[i]%><span class="form-check-sign"><span class="check"></span></span></label>
                    </div>
                  <%}else{%>
                    <div class= "form-check form-check-inline">
                      <label class="form-check-label"><input type="checkbox" name="keys" value="<%=data.all_keys[i]%>" class="form-check-input"><%=data.all_keys[i]%><span class="form-check-sign"><span class="check"></span></span></label>
                    </div>
                  <%}%>
                <%}%>
              <%}%>
            </div>
          </div>
        </div>

        <div class="row" >
          <label class="col-md-3 col-form-label">Report Record Limit</label>
          <div class="col-md-9">
            <div class="form-group has-default bmd-form-group is-filled">
              <input type="text" class="form-control" name="report_record_limit" value="<%=data.report_record_limit%>">
            </div>
          </div>
        </div>

        <input type="hidden" name="report_id" value="<%=data.report_id%>" />

        <input type="hidden" name="all_keys" id="all_keys" value=""/>

        <div class="card-footer ">
          <div class="row">
            <div class="col-md-9">
              <input type="btnSubmit" id="btnSubmit" class="btn btn-fill btn-rose" value="Save">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>