<!DOCTYPE html>
<html>
<head><title>Report</title></head>
<% include ./appHeaderBase.ejs %>
<body>
  <div class="wrapper ">
    <% include ./appSideBar.ejs %>
    <div class="main-panel">
      <% include ./appTopHeader.ejs %>
        <div class="content">
          <div id= class="container-fluid">
            <div id= "container"  >
              <div class="col-md-12">
                <div class="card ">
                  <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">contacts</i>
                    </div>
                    <h4 class="card-title">Reports</h4>
                  </div>
                  <div class="card-body">
                    <form method="post" class="form-horizontal" action="/upload" enctype="multipart/form-data">
                      <div class="col-md-3 col-sm-4">
                        <h4 class="title">Kaveri Bhumkar</h4>
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                          <div class="fileinput-new thumbnail img-circle">
                            <img src=<%=static_data.sProfilePicFilePath%> />
                          </div>
                          <div class="fileinput-preview fileinput-exists thumbnail img-circle"></div>
                          <div>
                            <span class="btn btn-round btn-rose btn-file">
                              <span class="fileinput-new">Add Photo</span>
                              <span class="fileinput-exists">Change</span>
                              <input type="file" id="profile-photo" name="profile-photo" class="input" />
                            </span>
                            <br />
                            <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer ">
                        <div class="row">
                          <div class="col-md-9">
                            <button type="submit" class="btn btn-fill btn-rose">Save</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% include appFooterPage.ejs %>
      </div>
    </div>
    <% include ./appPageSetting.ejs %>
    <% include ./appFooterBase.ejs %>
  </body>
</html>
