#header{
	background-color: lightblue;
	width:100%;
  height: 95px;
	text-align: center;
  padding:1em 3em;
}
#sidebar-left{
	float:left;
	width:20%;
  height:100%;
	background-color: red;
  text-align: left;
}
#main{
	float:left;
	width:60%;
  height:60%;
	background-color: lightgray;
  text-align: center;
}
#sidebar-right{
	float:left;
	width:20%;
  height:100%;
	background-color: red;
  text-align: right;
}
#footer{
	clear:both;
	width: 100%;
  height:55px;
	text-align: center;
	background-color: lightblue;
}
#sidebar-left, #main, #sidebar-right{
	min-height: 600px				
}

#button{
  background-color: transparent;
}
.container {
  width: 600px;
  margin: 0 auto;
}

.ghost-input, p {
  display: block;
  font-weight:300;
  width: 100%;
  font-size: 25px;
  border:0px;
  outline: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #4b545f;
  background: #fff;
  font-family: Open Sans,Verdana;
  padding: 10px 15px;
  margin: 30px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.ghost-button {
  background-color: transparent;
  border:2px solid #ddd;
  padding:10px 30px;
  width: 100%;
  min-width: 350px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}