
.container {
  width: 600px;
  margin: 0 auto;
}


.ghost-button {
  background-color: transparent;
  border:3px solid #ddd;
  padding:5px 40px;
  width: 100%;
  min-width: 30px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}